body {
	background-color: #e0b1cb;
}

.winner {
	color: #1a936f;
	font-weight: 600;
	transition: all ease-in-out 0.2s;
}

.loser {
	color: #931a3e;
	font-weight: 100;
	transition: all ease-in-out 0.2s;
}

#scoreContainer {
	margin: 2.5em auto;
	padding: 1.5em 2em;
	width: 66%;
	max-width: 500px;
	background-color: #5e548e;
	border-radius: 0.6em;
	color: #ecebe4;
	box-shadow: 5px -12px #100d19;
}
